<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/bootstrap-yeti.css">
  
   
   <!-- get the path of the main_folder -->

   <script type="text/javascript" src="../static/js/path_file.js"></script> 
      <title itemprop='name'>Honors and Awards</title>

</head>


<body>
  
  <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-top"  >
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

		<!-- Navbar common for all pages -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="research_project.html">Research</a></li>
	    <li><a href="publication.html">Publication</a></li>
	    <li><a href="code.html">Code</a></li>
	     <!-- <li><a href="under_development.html">CV</a></li> --> 
	    <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
	<!-- Navbar common for all pages -->
	
	
	
      </div>
    </nav>


  <!-- Header for photo and brief information -->
    
    <div class="container">
    <div class="jumbotron">
      
    <p style="font: 300">Honors and Awards</p>  
    <div class="row", style="margin-bottom: 10pt">
    <div class="col-md-12">
    <b>R Immersion Course Scholarship</b><br>
    Dec 2016 - FedEx Institute of Technology <br><br>
    I was granted a scholarship to attend the R Immersion Course.
    The R Immersion, December 5th - 7th, was a 3-day intensive R training
    program designed to provide attendees with a comprehensive toolkit for
    applying R to business intelligence data solutions. R is a language widely
    used by statisticians and data miners for developing strategic data analysis
    programs. The FedEx Institute is organizing this workshop to meet a critical
    need among corporations and nonprofits for a deep quantitative analysis tool
    kit designed to meet the rising big data challenges faced by all organizations.
      
    </div>
    </div>
    <hr>
      
    <div class="row", style="margin-bottom: 10pt">
    <div class="col-md-12">
    <b>The Palisades Geophysical Institute Fellowship</b><br>
    Sep 2016 - Center for Earthquake Research and Information <br><br>
    I was awarded the 2016-2017 Palisades Geophysical Institute Fellowship.
    CERI offers the Palisades Geophysical Institute (PGI) Fellowship to the outstanding Ph.D. student.
    The PGI was established in 1970 for the purpose of continuing government sponsored research
    formally conducted by Columbia University. The PGI Fellowship was made available to CERI in 1998,
    largely through the efforts of Dr. James Dorman. Nominations of fellowship recipients are made by
    the Director of the Graduate Program Coordinator in consultation with the CERI faculty. The Dean
    of the College of Arts and Sciences has responsibility for establishing selection criteria and
    awarding the geophysics fellowship.
      
    </div>
    </div>
    <hr>  
    

    <div class="row", style="margin-bottom: 10pt">
    <div class="col-md-12">
    <b>Student Travel Grant</b><br>
    Apr 2015 - Seismological Society of America (SSA) <br><br>
    I received a travel grant from the Seismological Society of America (SSA)
    to attend the 2015 SSA Annual Meeting. The event was held on April 21-23 in Pasadena,
    California. At the meeting, I participated with an oral presentation titled "Evaluation
    of attenuation models (Qs-Vs relationships) used in physics-based ground-motion earthquake
    simulation," co-authored with CERI and Civil Engineering Assistant Prof. Ricardo Taborda.
      
    </div>
    </div>
    <hr>
      
    <div class="row", style="margin-bottom: 10pt">
    <div class="col-md-12">
    <b>Student Travel Grant</b><br>
    Oct 2014 - SEG/Exxon Mobil <br><br>
    I was selected to attend the SEG/Exxon Mobil Student Education Program.
    This two and a half days training program includes lectures and exercises
    effectively conducted and related to the geosciences or to geophysical work
    performed in the oil industry. ExxonMobil provides course materials, team exercises,
    and instructors. Participants undergo a rigorous selection process and receive full
    travel grants to join the program. This year's program took place in Denver, Colorado,
    on October 24-26, during the SEG International Exposition and 84th Annual Meeting.
      
    </div>
    </div>
    <hr>
      
    <div class="row", style="margin-bottom: 10pt">
    <div class="col-md-12">
    <b>2014 Summer School on Earthquake Science</b><br>
    Sep 2014 - Southern California Earthquake Center (SCEC) and the University of Tokyo's Earthquake Research Institute (ERI) <br><br>
    II was selected to participate in the 2014 Summer School on Earthquake Science, organized by the Southern California Earthquake Center
    (SCEC) and the University of Tokyo's Earthquake Research Institute (ERI). The event was held on September 28 through October 2,
    in Oxnard, California. The theme for the program was titled "Wave and rupture propagation with realistic velocity structures".
    More than 65 applications were reviewed and only 22 U.S. and International participants were selected to join 10 scholars
    from the US and Japan.
    <br><br>
    <a href="https://scec.usc.edu/scecpedia/2014_VISES_Summer_School">Summer School Wiki Page</a>
    <br>  
    </div>
    </div>
    <hr>     

    </div>
  </div>
</div>
    
  


        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/collapse.js"></script>


<!-- FOOTER -->
      <footer>
        
               <p class="text-center" style="padding-top: 50px;">  <img src="../static/img/index_page/logo_naeem.svg" class=" center-block img-circle img-responsive " alt="Naeem Khoshnevis" style="width:80px;height:80px;"> Copyright &copy; 2017 Naeem Khoshnevis </p>

      </footer>

</body>

</html>