<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <meta name="description" content="Naeem Khoshnevis  Recent Peer Reviewed Publications, oral presentations and lectures">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/bootstrap-yeti.css">
  <title itemprop='name'>Publications</title>
   
   <!-- get the path of the main_folder -->

   <script type="text/javascript" src="../static/js/path_file.js"></script> 
   
</head>


<body>
  
  
  <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-top"  >
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

		<!-- Navbar common for all pages -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="research_project.html">Research</a></li>
	    <li><a href="publication.html">Publication</a></li>
	    <li><a href="code.html">Code</a></li>
	     <!-- <li><a href="under_development.html">CV</a></li> -->
	    <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
	<!-- Navbar common for all pages -->
	
	
	
      </div>
    </nav>



    <div class="container">
  <div class="jumbotron">
  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Peer Reviewd publications</b></h4>

<li><b> N. Khoshnevis </b>, R. Taborda, S. Azizzadeh-Roodpish, C. H. Cramer, Seismic Hazard estimation of northern Iran using smoothed seismicity, Journal of Seismology (2017),<a href="http://link.springer.com/article/10.1007/s10950-017-9645-5"> doi:10.1007/s10950-017-9645-5.</a><br/></li>
<!--
<li><b> N. Khoshnevis </b>, R. Taborda, S. Azizzadeh-Roodpish, L. Telesca, Analysis of 2005-2015 earthquake sequence in northern Iran using visibility graph approach, Pure and Applied Geophysics, Manuscript is under review. <br/></li>
-->
<li>R. Taborda, S. Azizzadeh-Roodpish, <b> N. Khoshnevis </b>, K. Cheng, Evaluation of the southern California seismic velocity models through simulation of recorded events, Geophysical Journal International 205 (3) (2016) 1342-1364. <a href="https://academic.oup.com/gji/article/205/3/1342/652962/Evaluation-of-the-southern-California-seismic">doi:10.1093/gji/ggw085.</a><br/></li>
<li>G. Ghodrati Amiri,<b> N. Khoshnevis</b>, S. Razavian Amrei, Probabilistic assessment of earthquake damage and loss for the city of Tehran, Iran, Journal of Rehabilitation in Civil Engineering 1 (2) (2013) 10-23. <a href="http://civiljournal.semnan.ac.ir/article_9.html"> doi:10.22075/JRCE.2013.9 </a><br/></li>


		    </div>
		</div>
	    </div>	    
	</div>

  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Conference Publications</b></h4>
<li>R. Taborda, <b> N. Khoshnevis </b>, S. Azizzadeh-Roodpish, M. M. Huda, Influence of the source, seismic velocity, and attenuation models on the validation of ground motion simulations, in: 16th World Conference on Earthquake, 16WCEE, Santiago Chile, 2017.<br /></li>
<li><b>N. Khoshnevis </b>, R. Taborda, Sensitivity of ground motion simulation validation criteria to filtering, in: 12th International Conference on Applications of Statistics and Probability in Civil Engineering, ICASP12, Vancouver, Canada, 2015.<br /></li>


		    </div>
		</div>
	    </div>	    
	</div>
	
	  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Presentations</b></h4>

		     
<li><b>N. Khoshnevis</b>R. Taborda, Exploring The Implementation of an Eauivalent Linear Method in 3D to Approximate Nonlinear Response in Regional Ground Motion Simulation, in: SSA Ann. Meet., Denver, Colorado April 18-20, 2017.</li>
<li><b>N. Khoshnevis</b>, R. Taborda, Analysis of Q-factors parameters of Los Angeles through Simulation and artificial intelligence, in: SCEC Annual Meeting, Palm Springs, California September 10-14, 2016.</li>
<li>R. Taborda, K. B. Olsen, R. W. Graves, F. Silva, <b>N. Khoshnevis</b>, W. Savran, D. H. Roten, Z. Shi, C. Goulet, J. Bielak, P. J. Maechling, Y. Cui, T. H. Jordan, Verification and validation of high-frequency (fmax = 5 Hz) ground motion simulations of the 2014 M 5.1 La Habra, California, earthquake, in: AGU Fall Meet., San Francisco, California December 12-16, 2016.</li>
<li>R. Taborda, K. B. Olsen, R. W. Graves, F. Silva, <b>N. Khoshnevis</b>, W. Savran, D. H. Roten, Z. Shi, C. Goulet, J. Bielak, P. J. Maechling, Y. Cui, T. H. Jordan, Verification and validation of high-frequency (fmax = 5 Hz) ground motion simulations of the 2014 M 5.1 La Habra, California, earthquake, in: SCEC Annual Meeting, Palm Springs, California September 10-14, 2016.</li>
<li><b>N. Khoshnevis</b>, S. Azizzadeh-Roodpish, R. Taborda, C. H. Cramer, Seismic hazard estimation of northern Iran using smoothed seismicity, in: SSA Ann. Meet., Reno, Nevada April 20-22, 2016.</li>
<li>R. Taborda, M. M. Huda, <b> N. Khoshnevis</b>, On the formulation of a displacement-based model for representing anelastic attenuation in wave propagation simulations, in: AGU Fall Meet., San Francisco, California December 14-18, 2015.</li>
<li>K. B. Olsen, J. Bielak, S. Callaghan, P. Chen, C. Yifeng, S. Day, D. Gill, R. W. Graves, T. Jordan, <b>N. Khoshnevis</b>, E.-J. Lee, P. Maechling, D. Roten, W. Sarvan, F. Silva, Z. Shi, R. Taborda, K. Withers, 0-5 Hz verification and validation of deterministic ground motion prediction of the 2014 M5.1 La Habra, CA, earthquake, in: SCEC Annual Meeting, Palm Springs, California September 12-16, 2015.</li>
<li><b>N. Khoshnevis</b>, R. Taborda, Sensitivity of ground motion simulation validation criteria to filtering, in: SSA Ann. Meet., Anchorage, Alaska. 30 April 2 May 2014.</li>
<li>G. Ghodrati Amiri, <b>N. Khoshnevis</b>, K. Shakeri, R. Afzal Soltani, Assessment of seismic risk of seven story steel moment frame in Tehran based on Standard of 2800 criteria, in: 7th National Congress on Civil Engineering, Zahedan, Iran, April 30, 2013.</li>
<li>G. Ghodrati Amiri, <b>N. Khoshnevis</b>, S. A. Razavian Amrei, Assessment of seismic risk of tall buildings in Tehran due to Mosha fault activity through SELENA ver 5.0, in: The Second National Conference on Disaster Management - The Role of New Technologies in Reducing Disaster Vulnerability, 19 - 20 June, 2012.</li>
<li>G. Ghodrati Amiri, <b>N. Khoshnevis</b>, Assessment of error percentage in selecting the structures capacity and fragility curves in HAZUS method, in: 9th International Congress on Civil Engineering, Isfahan University of Technology, Isfahan, Iran, May 8-10, 2012.</li>


		    </div>
		</div>
	    </div>	    
	</div>
  </div>
    </div>


 
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/collapse.js"></script>



<!-- FOOTER -->
      <footer>

                     <p class="text-center" style="padding-top: 50px;">  <img src="../static/img/index_page/logo_naeem.svg" class=" center-block img-circle img-responsive " alt="Naeem Khoshnevis" style="width:80px;height:80px;"> Copyright &copy; 2017 Naeem Khoshnevis </p>

        
      </footer>

</body>

</html>