

<a href="https://www.scec.org/proposal/report/17239"><b style="color: #708090">  11/24/2017:</b></a> Our research proposal titled “Application of Machine Learning in Deterministic Ground Motion Simulation ” was funded by Southern California Earthquake Center (SCEC).<br><br>

<a href="https://www.scec.org/publication/7579"><b style="color: #708090">  09/10/2017:</b></a> Naeem Khoshnevis attended the Southern California Earthquake Center (SCEC) annual meeting to presetnt a poster titled
"An application of machine learning techniques to the evaluation of goodness-of-fit scores used in earthquake ground motion validation" The meeting was held in Palm Springs, CA.  <br><br>


<a href="https://link.springer.com/article/10.1007/s00024-017-1617-8"><b style="color: #708090">  07/19/2017:</b></a> Our paper titled "Analysis of the 2005-2016 Earthquake Sequence in Northern Iran Using the Visibility Graph Method" published online at the Pure and Applied Geophysics.  <br><br>


<a href="https://github.com/Naeemkh/nkhshnvs/tree/master/misc_files/NaeemKhoshnevisR_woanimation.pdf"><b style="color: #708090">  05/02/2017:</b></a> Naeem Khoshnevis presented an overview of R programming language for <a href="https://www.meetup.com/memphis-technology-user-groups/events/238975338/">Memphis R User's group</a>
in FedEx Institute of Technology (FIT).<br><br>

<a href="http://meetings.seismosoc.org/abstracts/"><b style="color: #708090">  04/18/2017:</b></a> Naeem Khoshnevis attended the Seismological Society of America (SSA) meeting to presetnt a poster titled
"Exploring The Implementation of an Eauivalent Linear Method in 3D to Approximate Nonlinear Response in Regional Ground Motion Simulation." The meeting was held in Denver,Co. <br><br>

<a href="http://link.springer.com/article/10.1007/s10950-017-9645-5"><b style="color: #708090">  03/17/2017:</b></a> Our paper titled "Seismic hazard estimation of northern Iran using smoothed seismicity" published online at the Journal of Seismology.  <br><br>

<a href="http://16wcee.com/images/Oral_COMPLETE_Program_Schedule.pdf"><b style="color: #708090">  01/11/2017:</b></a> Ricardo Taborda gave an oral presentation at the 16th. World Conference on Earthuake Engineering (WCEE) titled
"Influence of the Source, Seismic Velocity, and  Attenuation Models on the Validation of  Deterministic Ground Motion Simulations ."  <br><br>

<a href="http://www.memphis.edu/ceri/study/ceri_grad_handbook_082015.pdf"><b style="color: #708090">  08/17/2016:</b></a> Naeem Khoshnevis is awarded the 2016-2017 Palisades Geophysical Institute Fellowship.<br><br>
    
<b style="color: #708090">  09/02/2015:</b>Naeem Khoshnevis is elected as the President of The University of Memphis SEG Student Chapter.<br><br>

<b style="color: #708090">  09/05/2014:</b>Naeem Khoshnevis is elected as the Vice President of The University of Memphis SEG Student Chapter.<br><br>
   
 
    
