<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="List of completed and ongoing Research and Projects of Naeem Khoshnevis. Download the latest resutls.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/bootstrap-yeti.css">
   <title itemprop='name'>Naeem Khoshnevis Publications</title>
   
   <!-- get the path of the main_folder -->

   <script type="text/javascript" src="../static/js/path_file.js"></script> 
   
</head>


<body>
  
  
  <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-top"  >
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

		<!-- Navbar common for all pages -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="research_project.html">Research</a></li>
	    <li><a href="publication.html">Publication</a></li>
	    <li><a href="code.html">Code</a></li>
	     <!-- <li><a href="under_development.html">CV</a></li> -->
	    <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
	<!-- Navbar common for all pages -->
	
	
	
      </div>
    </nav>


  <div class="container">
   <div class="jumbotron">
    <div class="row">
    <div class="col-md-12" >
    <h2><b> Research and Projects </b></h2>
    </div>
    </div>
   </div>
  </div>
  
    <div class="container">
  	<div class="row">
	    <div class="col-md-12" >
	    <div class="well well-sm" style="padding-left: 0px;  padding-right: 0px; padding-top:0px; padding-bottom: 0px;">
		<img src="../static/img/application_ml/header_image.svg" class="center-block img-responsive cover" alt="Naeem Khoshnevis">
	    </div>
	    </div>
	</div>
    </div>
 
 
<!-- put research items below -->
 
 <div class="container">
 <div class="well">
 <div class="row">
  
  
  
  	    <!-- item starts -->
	    
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_mlq" style="padding: 0"> Estimation of Q-factor's parameters of the Los Angeles through Simulation and Artificial Intelligence</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Ricardo Taborda / University of Memphis - CERI	<br>
            <strong>Year: </strong> 2016 (ongoing)   
            <br> <strong>Focus Area(s): </strong> Ground Motion Simulation, Machine Learning, Anelastic Attenuation, Q factor, Los Angeles Basin
	    <div class="col-md-12" >
            <div id=research_mlq class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">The accurate solution of wave propagation problems requires the appropriate representation of energy
	    losses due to internal friction. These losses are important because their mischaracterization can lead
	    to over- or under-estimation of amplitudes and duration of ground motions. Recent studies show that synthetics
	    from physics-based simulations tend to attenuate at different rates than observations, suggesting that current
	    modeling approaches need to be revised. In physic-based simulation, attenuation is commonly introduced by means
	    of viscoelastic models. Internally, the properties of these models are set based on the material's quality factor, Q.
	    The value of Q for shear waves, Qs, is usually defined according to empirical rules that depend on the shear wave velocity, Vs.
	    Typical Qs-Vs relationships are (piecewise) linear or polynomial functions. Several relationships have been tried in the past,
	    but there is no consensus about what is the most appropriate one. Identifying the parameters that define these relationships
	    through the solution of inverse problems is non-trivial, requires considerable computational resources, and may not lead to
	    a unique solution. In this study we investigate the effectiveness of an approach that combines the use of an artificial
	    neural network (ANN) and a genetic algorithm (GA) to predict ground motion amplitudes and identify the optimal parameters
	    in Qs-Vs relationships. We use direct S-waves as a proxy to evaluate attenuation over distance. First, we train the ANN
	    to predict peak S-wave amplitudes based on a series of simulations with an ample selection of parameters. Then, we use the
	    ANN as a fitness function of the GA, and use the latter to find the optimal parameters based on comparisons between predictions
	    and data. As a proof-of-concept, we test the performance of the proposed approach for the case of the 2008 Mw 5.4 Chino Hills,
	    California, earthquake. Using this approach we find the parameters that lead to the best fit with data. The results include the
	    mean and standard deviation of Qs for each value of Vs. Our initial results for a limited number of stations scattered throughout
	    the simulation domain and for numerical models with a maximum frequency of 0.5 Hz show good promise. We recognize, however,
	    that Q parameters may depend on additional factors such as frequency, depth, path and site effects, and the nature of the
	    traveling waves. Future work will test the method for multiple events and higher frequencies.</p>
	    
	    <strong> Project documents: </strong><br>
	    <li> <a href="https://www.researchgate.net/publication/312320198_Analysis_of_Q-factor%27s_parameters_of_Los_Angeles_through_Simulation_and_Artificial_Intelligence">Poster Presentation </a> -  SCEC Annual Meeting, Palm Springs, California September 10-14, 2016 </li>
	    
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
  
    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_rw" style="padding: 0"> Estimation of Rayleigh Wave Velocity Using Ambient Noise</a>
            <br>
            <strong>Supervisor / Organization:</strong> Charles Langston / University of Memphis - CERI	<br>
            <strong>Year: </strong> 2013 (6 months)   
            <br> <strong>Focus Area(s): </strong> Global Seismology, Rayleigh Wave Velocity, Ambient Noise
	    <div class="col-md-12" >
            <div id=research_rw class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_inverse" style="padding: 0"> Inversion of Density Structure from Gravity Anomaly</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Charles Langston / University of Memphis - CERI		<br>
            <strong>Year: </strong> 2014 (6 months)   
            <br> <strong>Focus Area(s): </strong> Potential fields, Gravity anomaly, Inverse methods
	    <div class="col-md-12" >
            <div id=research_inverse class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_moho" style="padding: 0"> Estimation of Moho layer depth through shallow earthquakes in New Madrid seismic zone</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Jer Ming Chiue  / University of Memphis - CERI <br>
            <strong>Year: </strong> 2014 (6 months)   
            <br> <strong>Focus Area(s): </strong> Seismology, Pmp wave reflection, New Madrid Seismic Zone
	    <div class="col-md-12" >
            <div id=research_moho class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_dynamic" style="padding: 0"> Dynamic Modeling of the 2008 Mw 5.4 Chino Hills, California, Earthquake</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Eric Daub / University of Memphis - CERI <br>
            <strong>Year: </strong> 2015 (6 months)   
            <br> <strong>Focus Area(s): </strong> Dynamic Rupture, Advanced Methods, Ground Motion Simulation, Mw 5.4 Chino Hills Earthquake.
	    <div class="col-md-12" >
            <div id=research_dynamic class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_cvms" style="padding: 0"> Evaluation of the Southern California Seismic Velocity Models through Ground Motion Simulation and Validation of Past Earthquake.</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Ricardo Taborda / University of Memphis - CERI <br>
            <strong>Year: </strong> 2013 - 2015  
            <br> <strong>Focus Area(s): </strong> Ground Motion Simulation, Velocity Model, Seismology
	    <div class="col-md-12" >
            <div id=research_cvms class="collapse">
	    <br>
	    <strong> Collaborators: </strong> Shima Azizzadeh-Roodpish, Keli Cheng <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Significant effort has been devoted over the last two decades to the development
	    of various seismic velocity models for the region of southern California, United States. These models are
	    mostly used in forward wave propagation simulation studies, but also as base models for tomographic and
	    source inversions. Two of these models, the community velocity models CVM-S and CVM-H, are among the most
	    commonly used for this region. This includes two alternative variations to the original models, the recently
	    released CVM-S4.26 which incorporates results from a sequence of tomographic inversions into CVM-S, and the
	    user-controlled option of CVM-H to replace the near-surface profiles with a VS30-based geotechnical model.
	    Although either one of these models is regarded as acceptable by the modeling community, it is known that
	    they have differences in their representation of the crustal structure and sedimentary deposits in the region,
	    and thus can lead to different results in forward and inverse problems. In this paper, we evaluate the accuracy
	    of these models when used to predict the ground motion in the greater Los Angeles region by means of an
	    assessment of a collection of simulations of recent events. In total, we consider 30 moderate-magnitude
	    earthquakes (3.5 < Mw < 5.5) between 1998 and 2014, and compare synthetics with data recorded by seismic
	    networks during these events. The simulations are done using a finite-element parallel code, with numerical
	    models that satisfy a maximum frequency of 1 Hz and a minimum shear wave velocity of 200 m/s. The comparisons
	    between data and synthetics are ranked quantitatively by means of a goodness-of-fit (GOF) criteria. We analyse
	    the regional distribution of the GOF results for all events and all models, and draw conclusions from the results
	    and how these correlate to the models. We find that, in light of our comparisons, the model CVM-S4.26 consistently yields better results.</p>
	    <br>
	    <strong> Project Documents: </strong><br>
	    <li> R. Taborda, S. Azizzadeh-Roodpish, <b> N. Khoshnevis </b>, K. Cheng, Evaluation of the southern California seismic velocity models through simulation of recorded events, Geophysical Journal International 205 (3) (2016) 1342-1364. <a href="https://academic.oup.com/gji/article/205/3/1342/652962/Evaluation-of-the-southern-California-seismic">doi:10.1093/gji/ggw085.</a><br/></li>
            <li> <a href="https://earthquake.usgs.gov/cfusion/external_grants/reports/G14AP00034.pdf">  Final Technical Report - USGS Award G14AP00034 (2014) </a>
	    
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_corr" style="padding: 0"> An Examination of the Correlations Between Different Goodness-of-Fit Metrics Based on a Large Dataset of Ground Motion Simulation Validations.</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Ricardo Taborda / University of Memphis - CERI <br>
            <strong>Year: </strong> (2016 - 2017)   
            <br> <strong>Focus Area(s): </strong> Ground Motion Simulation, Goodness of Fit, Validation, Correlation
	    <div class="col-md-12" >
            <div id=research_corr class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_eqlinear" style="padding: 0"> Exploring the Implementation of an Equivalent Linear Method in 3D to Approximate Nonlinear Response in Regional Ground Motion Simulation</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Ricardo Taborda / University of Memphis - CERI <br>
            <strong>Year: </strong> 2016 (Ongoing) 
            <br> <strong>Focus Area(s): </strong> Site Response Analysis, Ground Motion Simulation 
	    <div class="col-md-12" >
            <div id=research_eqlinear class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_smoothed" style="padding: 0"> Seismic hazard estimation of northern Iran using smoothed seismicity </a>
            <br>
            <strong>Supervisor / Organization:</strong>  Chris H. Cramer / University of Memphis - CERI <br>
            <strong>Year: </strong> 2015 (6 months) 
            <br> <strong>Focus Area(s): </strong> PSHA, Smoothed Seismicity, Northern Iran
	    <div class="col-md-12" >
            <div id=research_smoothed class="collapse">
	    <br>
	    <strong> Collaborators: </strong> Ricardo Taborda, Shima Azizzadeh-Roodpish <br>
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">This article presents a seismic hazard assessment for northern Iran,
	    where a smoothed seismicity approach has been used in combination with an updated seismic
	    catalog and a ground motion prediction equation recently found to yield good fit with data.
	    We evaluate the hazard over a geographical area including the seismic zones of Azerbaijan,
	    the Alborz Mountain Range, and Kopeh-Dagh, as well as parts of other neighboring seismic
	    zones that fall within our region of interest. In the chosen approach, seismic events are
	    not assigned to specific faults but assumed to be potential seismogenic sources distributed
	    within regular grid cells. After performing the corresponding magnitude conversions,
	    we decluster both historical and instrumental seismicity catalogs to obtain earthquake
	    rates based on the number of events within each cell, and smooth the results to account
	    for the uncertainty in the spatial distribution of future earthquakes. Seismicity parameters
	    are computed for each seismic zone separately, and for the entire region of interest as a
	    single uniform seismotectonic region. In the analysis, we consider uncertainties in the ground
	    motion prediction equation, the seismicity parameters, and combine the resulting models using a
	    logic tree. The results are presented in terms of expected peak ground acceleration (PGA) maps
	    and hazard curves at selected locations, considering exceedance probabilities of 2 and 10% in 50
	    years for rock site conditions. According to our results, the highest levels of hazard are observed
	    west of the North Tabriz and east of the North Alborz faults, where expected PGA values are between
	    about 0.5 and 1 g for 10 and 2% probability of exceedance in 50 years, respectively. We analyze our
	    results in light of similar estimates available in the literature and offer our perspective on the
	    differences observed. We find our results to be helpful in understanding seismic hazard for northern
	    Iran, but recognize that additional efforts are necessary to obtain more robust estimates at specific
	    areas of interest and different site conditions.</p>
	    <br>
	    <strong> Project Documents: </strong><br>
	    <li><b> N. Khoshnevis </b>, R. Taborda, S. Azizzadeh-Roodpish, C. H. Cramer, Seismic Hazard estimation of northern Iran using smoothed seismicity, Journal of Seismology (2017),<a href="http://link.springer.com/article/10.1007/s10950-017-9645-5"> doi:10.1007/s10950-017-9645-5.</a><br/></li>

	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    	    	    <!-- item starts -->
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_riskiran" style="padding: 0"> Probabilistic Assessment of Earthquake Damage and Loss for the City of Tehran, Iran</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Gholamreza Ghodrati Amiri / Iran University of Science and Technology <br>
            <strong>Year: </strong> 2011-2013
            <br> <strong>Focus Area(s): </strong> Seismic damage, Loss assessment, HAZUS, Tehran, Iran
	    <div class="col-md-12" >
            <div id=research_riskiran class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Tehran is one of the densely populated metropolises located in earthquake-prone regions.
	    Tehran, the population of which surpasses 8 million people, is the most populated area in Iran. There are
	    historical evidences confirming that catastrophic earthquakes have destroyed the city in past years.
	    In the present paper, our study covers all parts of Tehran because there is the potential of significant
	    earthquake damage and loss for the entire city. In other words, the development of high-rise building
	    construction in the northern part, the high density of population in the southern area including old masonry
	    buildings, and the existence of important structures in central regions, prevent us from omitting any particular
	    part of the city from damage assessment process. We have used two sets of last available formal data published in
	    1996 and 2006. To consider the influence of soil conditions, Tehran has been divided into 1246 sub regions; however,
	    in our study the results have been presented using municipality regions and in cumulative manner. Since there is no
	    acceptable statistical data involving estimation of non-structural damage, only structural damages have been assessed.
	    The open source software SELENA is applied to perform probabilistic loss estimates. Due to the lack of studies providing
	    required information from structural point of view in our country, and the existence of similarity between structural
	    codes of Iran and that of United States, HAZUS-MH (Hazard Us Ð Multi Hazard Loss) structures coefficients are used.
	    According to the results, from 1996 to 2006, the mean damage ratio and number of casualties have been reduced,
	    while the economic loss has been increased.</p>
	    <br>
	    <strong> Project Documents: </strong><br>
	    <li>G. Ghodrati Amiri,<b> N. Khoshnevis</b>, S. Razavian Amrei, Probabilistic assessment of earthquake damage and loss for the city of Tehran, Iran, Journal of Rehabilitation in Civil Engineering 1 (2) (2013) 10-23. <a href="http://civiljournal.semnan.ac.ir/article_9.html"> doi:10.22075/JRCE.2013.9 </a><br/></li>

	    <hr>
            </div>
	    </div>
	    <!-- item ends -->
	    
	    
	    
	    
	    
	    
	    
	    <!--  
	    
	    //item starts
	    
	    <hr>
	    <tr>
            <td valign="top">
   	    <a data-toggle="collapse" data-target="#research_bb" style="padding: 0"> Project title</a>
            <br>
            <strong>Supervisor / Organization:</strong>  Supervisor name / Organization <br>
            <strong>Year: </strong> 2016   
            <br> <strong>Focus Area(s): </strong> Earthquake Geology, Ground Motion Prediction (GMP), Seismology
	    <div class="col-md-12" >
            <div id=research_bb class="collapse">
	    <br>
	    <strong> Summary: </strong><br>
	    <p class="text-justify">Project summary</p>
	    <hr>
            </div>
	    </div>
	   
	   // item ends
            -->
            
	    
    
 </div>
 </div>
 </div>

 

 

  

 
 


 
 
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/collapse.js"></script>



<!-- FOOTER -->
      <footer>
        
       <p class="text-center" style="padding-top: 50px;">  <img src="../static/img/index_page/logo_naeem.svg" class=" center-block img-circle img-responsive " alt="Naeem Khoshnevis" style="width:80px;height:80px;"> Copyright &copy; 2017 Naeem Khoshnevis </p>

      </footer>

</body>

</html>




 