<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <!--
  <meta description="Naeem Khoshnevis Personal Webpage">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  -->
  <link rel="stylesheet" href="../static/css/bootstrap-yeti.css">
   <title>  Naeem Khoshnevis </title>
   
   <!-- get the path of the main_folder -->

   <script type="text/javascript" src="../static/js/path_file.js"></script> 
   
</head>


<body>
  
  
  <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-top"  >
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index2.html">Home</a></li>
            <li><a href="research_projects.html">Research</a></li>
	    <li><a href="publication.html">Publication</a></li>
	    <li><a href="publication.html">Code</a></li>
	     <li><a href="publication.html">CV</a></li>
	    <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Peer Reviewd publications</b></h4>

N. Khoshnevis, R. Taborda, S. Azizzadeh-Roodpish, C. H. Cramer, Seismic Hazard estimation of northern Iran using smoothed seismicity, Journal of Seismology, Manuscript accepted for publication.<br />
N. Khoshnevis, R. Taborda, S. Azizzadeh-Roodpish, L. Telesca, Analysis of 2005-2015 earthquake sequence in northern Iran using visibility graph approach, Pure and Applied Geophysics, Manuscript is under review. <br />
R. Taborda, N. Khoshnevis, S. Azizzadeh-Roodpish, M. M. Huda, Influence of the source, seismic velocity, and attenuation models on the validation of ground motion simulations, in: 16th World Conference on Earthquake, 16WCEE, Santiago Chile, 2017.<br />
R. Taborda, M. M. Huda, N. Khoshnevis, J. Bielak, An adaptive memory-efficient displacement-based internal friction model for wave propagation simulation, Geophysics, in preparation. <br />
R. Taborda, S. Azizzadeh-Roodpish, N. Khoshnevis, K. Cheng, Evaluation of the southern California seismic velocity models through simulation of recorded events, Geophysical Journal International 205 (3) (2016) 1342-1364.<br />
N. Khoshnevis, R. Taborda, Sensitivity of ground motion simulation validation criteria to filtering, in: 12th International Conference on Applications of Statistics and Probability in Civil Engineering, ICASP12, Vancouver, Canada, 2015.<br />
G. Ghodrati Amiri, N. Khoshnevis, S. Razavian Amrei, Probabilistic assessment of earthquake damage and loss for the city of Tehran, Iran, Journal of Rehabilitation in Civil Engineering 1 (2) (2013) 10-23.<br />


		    </div>
		</div>
	    </div>	    
	</div>

  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Conference Publications</b></h4>


		    </div>
		</div>
	    </div>	    
	</div>
	
	  	<div class="row">
	    	    <div class="col-md-12">
		<div id="midCol" data-spy="affix" data-offset-top="300">
		    <div class="well well-sm">
                     <h4><b>Presentations</b></h4>


		    </div>
		</div>
	    </div>	    
	</div>



 
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/collapse.js"></script>



<!-- FOOTER -->
      <footer>
        
        <p class="text-center" style="padding-top: 50px;"> Copyright &copy; 2017 Naeem Khoshnevis  </p>
      </footer>

</body>

</html>