<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/bootstrap-yeti.css">
  
   
   <!-- get the path of the main_folder -->

   <script type="text/javascript" src="../static/js/path_file.js"></script> 
      <title itemprop='name'>2015-2016 SEG activity report</title>

</head>


<body>
  
  <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-top"  >
      <div class="container" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

		<!-- Navbar common for all pages -->
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="research_project.html">Research</a></li>
	    <li><a href="publication.html">Publication</a></li>
	    <li><a href="code.html">Code</a></li>
	     <li><a href="under_development.html">CV</a></li>
	    <li><a href="contact.html">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
	<!-- Navbar common for all pages -->
	
	
	
      </div>
    </nav>


  <!-- Header for photo and brief information -->
    
    <div class="container">
    <div class="jumbotron">
    <div class="row">
    <div class="col-md-12">
      
      
   
     <p style="font: 300"> University of Memphis - SEG student chapter (2015-2016) </p>
     <hr>
     <p class="text-justify" style="font-size: medium">I was the president of  University of Memphis SEG student chapter in 2015-2016.
     Our team (Naeem Khoshnevis-President, Md Monsurul Huda-Vice President,Yang Yang-Secretary, Chloe Olivia Glover-Treasurer)
     conducted a good amount of activities in this period. Education and outreach activities are one of the most important pieces of any SEG
     Student Chapter. In this section we divided our efforts into three main categories.</p><br>
          <ul>
     <li>Educating the public about the geosciences</li>
     <li>Encouraging others to become geoscientist</li>
     <li>Educating local professionals to gain a higher level of skills and knowledge</li>
     </ul>
  
     <br>
     <p class="text-justify" style="font-size: medium"> With many different fields of study and outstanding findings, geoscience has always been
     of interest to the public. The community wants to know more about climate change,
     earthquakes, and natural resources for energy purposes. In recent decades, researchers
     worked on correlation between the fracking and an increase in the number of earthquakes
     in different parts of the United States. Even though many earthquakes are attributed to
     fracking and wastewater disposal, some of the seismicity is natural. The public often asks
     our specialists at the Center for Earthquake Research and Information (CERI) about this
     phenomenon. This public interest led us to ask Dr. Cliff Frohlich, who has authored over
     100 research papers and two books, to come to Memphis and give a talk about induced
     seismicity. We submitted a proposal to the Student Event Allocation of the University of
     Memphis and received funding for travel and lodging for the speaker, and venue and food
     for 200 participants. The event was supposed to be held on September 18, 2014 with the
     title of "Human caused earthquakes in Texas and elsewhere: what we know and what we
     don't know."
     Unfortunately due to inclement weather, Dr. Frohlich was unable to come to Memphis
     and the event was cancelled.
     In 2015, we gave the event another try. We rescheduled the talk for March 5, 2015.
     Unfortunately, again because of inclement weather, Dr. Frohlich couldn't travel to
     Memphis and the talk was cancelled.
     We also try to invite college freshman and high school students to the Earthquake
     Center and talk to them about the opportunities in the field of geoscience. We try to make
     students aware of the different degrees available in the geosciences. We reach out to
     college-bound high school students and undergraduate students from related fields like
     engineering, computer science, mathematics, physics, or geology who want to study
     geoscience as a graduate degree.</p>
     
      <p class="text-justify" style="font-size: medium">  In order to ensure a friendly and cooperative environment we have different
     activities at CERI during each semester. These activities include Pumpkin Carving, Ping-
     Pong Tournament, Bad Science Movie Night, and CERI Trivia.
     In 2015 we hosted a pumpkin carving event. The pumpkin carving event was a
     potluck where students from different fields of study brought cultural food to represent
     their heritage. This year marked the 3rd time that the University of Memphis Chapter of
     the Society of Exploration Geophysicists held the Pumpkin Carving event. The
     participants were from the Earth Science, CERI, Engineering, and Computer Science
     departments. Overall, it was a successful event and there was a considerable amount of
     discussion between students. </p>
     <br>
		<img src="../static/img/seg/pumpkin1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/pumpkin2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/pumpkin3.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  
    <br> 
    <p class="text-justify" style="font-size: medium">As long as scientists are educating the public about the geosciences, current
    geoscientists need to update their knowledge and gain new skills. As a part of the SEG
    Distinguished Lecturer Program, on October 5, 2015 we hosted Dr. Hansruedi Maurer
    from ETH Zurich as a 2015 distinguished lecturer. Dr. Maurer presented a lecture titled
    "The curse of dimensionality in exploring the subsurface". Many students from Center
    for Earthquake Research and Information, Engineering Department, and Earth Science
    Department attended the talk.  </p>
 
    <br>
		<img src="../static/img/seg/hansu1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/hansu2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/hansu3.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  
    <br>    
 
    <p class="text-justify" style="font-size: medium">Having a more successful year in terms of educating public and professionals, we
    planned the activities of 2016 at the last internal meeting of the 2015.
    Many of the activities discussed in our end-of-the-year meeting have been hosted in 2016.
    A list of the events with brief explanations is available below. </p>
    <b>Join in January</b>, January 26, 2016.<br>
    <p class="text-justify" style="font-size: medium">The purpose of this event is to advertise the
    SEG student chapter and look forward to some potential new members for the
    organization. We set up a three-component seismometer and use a scope to show the
    real time seismogram. Many students were interested in the event and registered to
    be a member of the SEG student chapter.</p>
    
    <br>
		<img src="../static/img/seg/join1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>

    <br>    
 
    	      
    <b>Bad Science Movie Night</b>, February 23, 2016 <br>
    <p class="text-justify" style="font-size: medium">The University of Memphis Chapter of the Society of Exploration Geophysicists hosted our first Bad Science Movie
    Night by showing San Andreas! This movie stars Dwayne "The Rock" Johnson, and
    highlights Hollywood's misunderstand of how the Earth moves and where and how
    earthquakes occur. SEG members gathered in CERI's seminar room, ate popcorn,
    and tore apart the bad science in the film. We look forward to many more Bad
    Science Movie Nights in the future!</p><br>
    
    <b>Educating 5th grade students</b>, March 2, 2016<br>
    <p class="text-justify" style="font-size: medium">5th grade students of Grace St Luke's Episcopal school came to the Center for
    Earthquake Research and Information. There were 45 students including three
    teachers/coordinators. SEG student chapter members (Naeem Khoshnevis and Chloe
    Glover) helped Dr. Kent Moran to setup the educational tools. Dr. Moran gave a
    presentation about the New Madrid seismic zone and historical earthquakes in the
    New Madrid seismic zone and Mississippi embayment. He demonstrated the seismic
    waves and how the seismic instruments record the data. He showed actual
    destruction through a shake table demonstration with a toy house and dolls set up
    inside, and tangible liquefaction through the liquefaction table. SEG student chapter
    members answered all questions of students during the meeting.</p>
     
    <br>
		<img src="../static/img/seg/5th1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/5th2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>

    <br>    
     

    <b> Herff Scholars Day </b>, March 5, 2016<br>
    <p class="text-justify" style="font-size: medium">University of Memphis School of Engineering hosted a group of high school and
    college students. Professors and graduate students explained the different fields of
    study to visitors. University of Memphis SEG Student Chapter requested a desk one
    week in advance, and a student chapter member (Naeem Khoshnevis) presented the
    vast job and research opportunities in engineering seismology. In general there were
    5 groups with approximately 10-15 students and parents per group. Students showed
    interest in engineering seismology and they asked several questions. We handed out
    the address of the website and Facebook page of the University of Memphis SEG
    Chapter in order to help them find more information about seismology and the
    Society of Exploration Geophysicists.</p><br>
    
    <br>
		<img src="../static/img/seg/herf3.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/herf2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>

    <br>    
    
    
    
    <b>SEG Ping Pong Tournament</b>, March 18, 2016<br>
    <p class="text-justify" style="font-size: medium">We had 16 participants as players, plus an outstanding number of students and
    faculties as onlookers. Each year this tournament brings many students from
    different departments to the Center for Earthquake Research and Information.</p><br>
    
     <br>
		<img src="../static/img/seg/ping1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/ping2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>

    <br> 
    
    
    <b>How well do you know CERI? - SEG Trivia</b>, April 8, 2016, <br>
    <p class="text-justify" style="font-size: medium">The University of Memphis Chapter of the Society of Exploration Geophysicists
    hosted a trivia night with questions centered on our department's history. The Center
    for Earthquake Research and Information has a 39-year history of world-class
    research, large seismic networks, and graduate students from all over the planet. We
    had 12 participants in CERI trivia divided up into four teams. Players were students,
    faculty, and staff members of all different backgrounds and experience levels.</p>
    
    <br>
		<img src="../static/img/seg/im1.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/im3.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
	        <img src="../static/img/seg/im6.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/im9.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>

    <br> 
    
    
    <b>Seismic Instrument Workshop</b>, April 11-13, 2016 <br>
    <p class="text-justify" style="font-size: medium">The Seismic Instrument Workshop organized by the SEG Student Chapter
    University of Memphis was a three hour long workshop spanned over three days.
    This workshop was conducted by Dr. Steve Horton, Research professor at CERI,
    with the help of technical experts Jim Bolowerk and Chris McGoldrick. The
    workshop began on April 11th with a lecture by Dr. Horton on an overview of the
    seismic instruments. He provided lectures on the types of seismometers, how they
    work, pros and cons of different types of seismometers, how a seismic stations work,
    and what the necessary components of a permanent station and a real-time seismic
    station are. He also covered different aspects of seismograms, the data, frequency
    range, difference between strong motion, weak motion and broad-band
    seismometers. The second day was a hands-on experience demonstrating how to
    install a seismic station; participants installed three different types of seismometers.
    The first two types were real-time stations, with a strong-motion and a broad-band
    seismometer, another two seismometers were the permanent type stations used for
    quick aftershock surveys. The third and conclusive day was to demobilize the
    stations and access the data. Dr. Horton showed participants how to access the real
    time data as well as data stored with the station. He also showed how to process the
    data and convert it to velocity and acceleration. This workshop was attended by
    students from different backgrounds such as geophysics, civil engineering, geology,
    and so on. The number of participants was an impressive 20 people per day. We are
    expecting to extend this workshop to a larger audience in the near future.</p>
    
        <br>
		<img src="../static/img/seg/seismic2.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
		<img src="../static/img/seg/seismic3.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  <br>
	        <img src="../static/img/seg/seismic4.jpg" class="center-block img-responsive cover" alt="seg_img" width=80%>  

        <br> 
    
     </div>
    </div>
  </div>
</div>
    
  


        <!-- JavaScript jQuery code from Bootply.com editor  -->
        
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/transition.js"></script>
    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/collapse.js"></script>


<!-- FOOTER -->
      <footer>
        
               <p class="text-center" style="padding-top: 50px;">  <img src="../static/img/index_page/logo_naeem.svg" class=" center-block img-circle img-responsive " alt="Naeem Khoshnevis" style="width:80px;height:80px;"> Copyright &copy; 2017 Naeem Khoshnevis </p>

      </footer>

</body>

</html>